@import "../abstracts/color";

h6 {
  all: unset;
}

.contentBox--contacts {
  background: #fafaf6;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  padding-bottom: 2.5rem;
  &__topBar {
    box-sizing: border-box;
    display: flex;
    height: 68px;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 1rem;
    text-align: center;
    color: $text-color;
    border-bottom: 1px solid $secondary-color;
    &__myMentors {
      width: 181px;
      border-right: 1px solid $secondary-color;
    }
    &__myMentees {
      width: 181px;
      border-right: 1px solid $secondary-color;
    }
    &__myClassmates {
      width: 181px;
      border-right: 1px solid $secondary-color;
    }
    &__showAll {
      width: 181px;
    }
  }
  &__searchBar {
    margin-left: 40px;
    margin-right: 40px;
    height: 70px;
    display: flex;
    align-items: center;
    &__search {
      all: unset;
      border: 1px solid $secondary-color;
      background: $tertiary-color;
      border-radius: 3px;
      width: 233px;
      height: 36px;
      padding-left: 18px;
      line-height: 100px;
    }
  }
  &__resultsGrid {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }
}
