.dashboard{
    display: grid;
    font-family: $chris-font;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas: "user user nextlesson nextlesson nextlesson"
                         "user user nextlesson nextlesson nextlesson"
                         "balance balance nextlesson nextlesson nextlesson"
                         "friends friends upcoming upcoming upcoming"
                         "friends friends upcoming upcoming upcoming"
                         "friends friends upcoming upcoming upcoming"
                         "friends friends upcoming upcoming upcoming";

    &__userComponent {
        display: flex;
        justify-content: space-between;
        
        &--image {
            
            &Container {

            }
        }

        &--username {
            
        }
    }
}