@import "../abstracts/color";

.mainContainerCard {
  display: inline-flex;
  justify-content: start;
  padding: 1rem;
  height: 118px;
  border: 1px solid $secondary-color;
  border-radius: 15px;
  &__imgContainer {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 1px $secondary-color dotted;
    margin-right: 1rem;
  }
  &__textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    line-height: normal;
    &__name {
      margin-bottom: 0.125rem;
      color: $primary-color;
      font-weight: bold;
      font-size: 1rem;
    }
    &__teachingProgram {
      margin-top: 0.125rem;
      font-weight: normal;
      color: $text-color;
      font-size: 0.8rem;
    }
  }
}
