.loginComponent {
    display: flex;
    justify-content: center;
    
    &__container {
        display: flex;
        height: 100vh;
        flex-direction: column;
    }

    &__button {
        
        &Container {
            display: flex;
            justify-content: space-evenly;
            align-content: stretch;
            background: green;
            width: 100%;
        }
        
        &--loginTab {
           flex: 1;
            // width: 100%;
        }
        
        &--signUpTab {
            flex: 1;
            // width: 100%;
        }
    }
}

.loginView {
    display: flex;
    flex-direction: column;

    &__form {
        display: flex;
        flex-direction: column;
        max-width: 200px;
        border: 1px solid black;
    }
}

.signupView {
    display: flex;
    flex-direction: column;
    
    &__form {
        display: flex;
        flex-direction: column;
        max-width: 200px;
        border: 1px solid black;
    }
}

.activeTab {
    background: red;
}

.inactiveTab {
    background: blue;
}