.mainContainer {
  padding: 2rem 10% 5rem 10%;
  background: linear-gradient(180deg, #fbfaf9 0%, $secondary-color 100%),
    $secondary-color;
  &__title {
    color: $primary-color;
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: normal;
  }
}
