.mainContainer {
  padding: 50px 137px 115px 137px;
  background: linear-gradient(180deg, #fbfaf9 0%, $secondary-color 100%),
    $secondary-color;
  &__title {
    color: $primary-color;
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: normal;
  }
}

@media only screen and (max-width: 768px) {
  .mainContainer {
    padding: 3rem 1rem;
  }
}
