.navbar {
  height: 64px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  &__banner {
    text-decoration: unset;
    color: black;
    font-family: $font-family-main;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: normal;
    text-transform: uppercase;
  }
  &__btn-logout {
    all: unset;
    font-family: $font-family-main;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: $tertiary-color;
    background: $primary-color;
    width: 140px;
    height: 40px;
    border-radius: 5px;
    &:hover {
      cursor: pointer;
    }
  }
  &__collapse--btn {
    display: none;
  }
  &__collapse--items {
    display: inline;
  }
}

.listedItems {
  margin: 0;
  display: inline;
  &__item {
    display: inline;
    margin: 16px;
    &__link {
      color: unset;
      text-decoration: unset;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: normal;
      color: $primary-color;
    }
  }
}

@media only screen and (max-width: 768px) {
  .navbar__collapse--btn {
    display: block;
    font-size: 1.5rem;
    color: $primary-color;
  }
  .navbar__collapse--items {
    display: none;
  }
}
