
.teacherSearch{
    height: 100vh;
    background: rgba(224,221,213,0.2);
    .search{
        display: flex;
        justify-content: center;

        padding-top: 10px;
        &__input{
            border-radius: 2.5px;
            border: 1px solid rgb(137,137,200);
            height: 40px;
            width: 500px;
            font-size: 18px;
            &:hover{
                outline:none;
            }
            &:placeholder{
                color:grey;
            }
            &:after{
                content: " ";
            }
        }
        &__btn{
           
            color:green;
            background: white;
     
            border-radius: 5px;
            margin-left: 5px;
            padding: 5px;
            font-size: 18px;
            transition: all 1s;
            &:hover{
                border: none;
                background: rgb(136,212,136);
                color:white;
            }
        }
        &__btn--img{
            width:40px; 
            max-width: 100%;
            height: 25px;
        }
    }
    .searchResults{
        &__number{
            margin-left: 20px;
            margin-right: auto;
            text-decoration: underline;
            text-decoration-color: rgba(151,139,139,0.35);
            
        }
        .resultsBoxes{
            display: flex;
            margin-top: 5px;
            justify-content: space-around;
            
            .teacherInfo{
                border: 1px solid black;
                border-radius: 5px;
                background: white;
                padding: 20px;
                     @media screen and (max-width: 465px) {
         
        margin: 10px;
  }
            }
            @media screen and (max-width: 465px) {
         display: inline;
  }
        }
    }
}

