$primary-color: #ff3f00;
$secondary-color: #beb7a4;
$profile-color-btn: #b5e4e6;
$profile-bg: rgba(185, 185, 185, 0.15);
$profile-bg-header: #fcfcfc;
$tertiary-color: #fffffc;
$text-color: #51504e;
$font-family-main: Roboto;
$chris-font: 'Karla', sans-serif;
