* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.teacher {
  height: 100vh;
  background: rgba(185, 185, 185, 0.15); }
  .teacher .profile {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    height: 150px;
    width: 100%;
    background: #FCFCFC;
    border-bottom: 2px solid rgba(156, 149, 149, 0.35); }
    .teacher .profile__img {
      width: 100px; }
  .teacher .priceInfo {
    display: flex;
    flex-direction: column;
    float: right;
    width: 300px;
    padding: 10px;
    border: 1px solid white;
    background: white;
    border-radius: 10px;
    margin-top: 5px; }
    .teacher .priceInfo__btn {
      background: #B5E4E6;
      border: none;
      border-radius: 2.5px;
      font-size: 20px;
      color: white;
      width: 100px;
      margin: 0 auto;
      transition: all 0.9s; }
      .teacher .priceInfo__btn:hover {
        background: #43babf;
        cursor: pointer; }
  .teacher .intro {
    background: white;
    text-align: right;
    max-width: 75%;
    height: auto;
    margin: 30px;
    padding-bottom: 10px;
    border-radius: 5px; }
    .teacher .intro__banner {
      text-align: center; }
    .teacher .intro__descripition {
      font-weight: bold;
      margin: 50px;
      height: auto; }
