@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Karla:400,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.homepage {
  position: relative;
  display: block;
  width: 100vw;
  height: 100vh;
  margin-bottom: -60px; }
  .homepage__intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Karla", sans-serif;
    width: 100%;
    height: 100%; }
    .homepage__intro--textContainer {
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .homepage__intro--mainText {
      color: #FF3F00;
      text-align: center; }
    .homepage__intro--subtext {
      color: #BEB7A4;
      text-align: center; }
    .homepage__intro--button {
      font-family: "Karla", sans-serif;
      text-align: center;
      padding: 10px;
      border: 1px solid black;
      width: 200px;
      margin: 20px 0px 0px 5px;
      transition: 0.3s; }
      .homepage__intro--button--container {
        display: flex;
        justify-content: center;
        align-items: center; }
      .homepage__intro--button:hover {
        background: #FF3F00;
        color: white; }
  .homepage__info {
    display: grid;
    height: 400px;
    width: 100vw;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "column1 column2 column3"; }
    .homepage__info--column {
      margin-top: 10px; }
      .homepage__info--column--header {
        font-family: "Karla", sans-serif;
        text-align: center;
        margin: 20px 0px 0px 0px; }
  @media (max-width: 768px) {
    .homepage__info {
      height: 400px;
      grid-template-columns: 100vw;
      grid-template-rows: 75vh 75vh;
      grid-template-areas: "column1" "column2" "column3"; }
    .homepage__intro {
      border-bottom: 1px solid black; } }

#homepage__info--column1 {
  grid-area: column1; }

#homepage__info--column2 {
  grid-area: column2; }

#homepage__info--column3 {
  grid-area: column3; }

.teacher {
  height: 100vh;
  background: rgba(185, 185, 185, 0.15); }
  .teacher .profile {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    height: 150px;
    width: 100%;
    background: #fcfcfc;
    border-bottom: 2px solid rgba(156, 149, 149, 0.35); }
    .teacher .profile__img {
      width: 100px; }
  .teacher .priceInfo {
    display: flex;
    flex-direction: column;
    float: right;
    width: 300px;
    padding: 10px;
    border: 1px solid white;
    background: white;
    border-radius: 10px;
    margin-top: 5px; }
    .teacher .priceInfo__btn {
      background: #b5e4e6;
      border: none;
      border-radius: 2.5px;
      font-size: 20px;
      color: white;
      width: 100px;
      margin: 0 auto;
      transition: all 0.9s; }
      .teacher .priceInfo__btn:hover {
        background: #43babf;
        cursor: pointer; }
  .teacher .intro {
    background: white;
    text-align: right;
    max-width: 75%;
    height: auto;
    margin: 30px;
    padding-bottom: 10px;
    border-radius: 5px; }
    .teacher .intro__banner {
      text-align: center; }
    .teacher .intro__descripition {
      font-weight: bold;
      margin: 50px;
      height: auto; }

.navbar {
  height: 64px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem; }
  .navbar__banner {
    text-decoration: unset;
    color: black;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: normal;
    text-transform: uppercase; }
  .navbar__btn-logout {
    all: unset;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #fffffc;
    background: #FF3F00;
    width: 140px;
    height: 40px;
    border-radius: 5px; }
    .navbar__btn-logout:hover {
      cursor: pointer; }
  .navbar__collapse--btn {
    display: none; }

.listedItems {
  margin: 0;
  display: inline; }
  .listedItems__item {
    display: inline;
    margin: 16px; }
    .listedItems__item__link {
      color: unset;
      text-decoration: unset;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: normal;
      color: #FF3F00; }

@media only screen and (max-width: 768px) {
  .navbar__collapse--btn {
    display: block;
    font-size: 1.5rem;
    color: #FF3F00; }
  .navbar__collapse--items {
    display: none; } }

.contentBox--contacts {
  background: #fafaf6;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  padding-bottom: 2.5rem; }
  .contentBox--contacts__topBar {
    box-sizing: border-box;
    display: flex;
    height: 68px;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 1rem;
    text-align: center;
    color: #51504e;
    border-bottom: 1px solid #BEB7A4; }
    .contentBox--contacts__topBar h6 {
      all: unset; }
    .contentBox--contacts__topBar__myMentors {
      width: 181px;
      border-right: 1px solid #BEB7A4; }
    .contentBox--contacts__topBar__myMentees {
      width: 181px;
      border-right: 1px solid #BEB7A4; }
    .contentBox--contacts__topBar__myClassmates {
      width: 181px;
      border-right: 1px solid #BEB7A4; }
    .contentBox--contacts__topBar__showAll {
      width: 181px; }
  .contentBox--contacts__searchBar {
    margin-left: 40px;
    margin-right: 40px;
    height: 70px;
    display: flex;
    align-items: center; }
    .contentBox--contacts__searchBar__search {
      all: unset;
      border: 1px solid #BEB7A4;
      background: #fffffc;
      border-radius: 3px;
      width: 233px;
      height: 36px;
      padding-left: 18px;
      line-height: 100px; }
  .contentBox--contacts__resultsGrid {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem; }

@media only screen and (max-width: 768px) {
  .contentBox--contacts__resultsGrid {
    margin: 0;
    display: block; } }

.mainContainerCard {
  display: inline-flex;
  justify-content: start;
  padding: 1rem;
  height: 118px;
  border: 1px solid #beb7a4;
  border-radius: 15px; }
  .mainContainerCard__imgContainer {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 1px #beb7a4 dotted;
    margin-right: 1rem; }
  .mainContainerCard__textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    line-height: normal; }
    .mainContainerCard__textContainer__name {
      margin-bottom: 0.125rem;
      color: #ff3f00;
      font-weight: bold;
      font-size: 1rem; }
    .mainContainerCard__textContainer__teachingProgram {
      margin-top: 0.125rem;
      font-weight: normal;
      color: #51504e;
      font-size: 0.8rem; }

.mainContainer {
  padding: 50px 137px 115px 137px;
  background: linear-gradient(180deg, #fbfaf9 0%, #beb7a4 100%), #beb7a4; }
  .mainContainer__title {
    color: #ff3f00;
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: normal; }

@media only screen and (max-width: 768px) {
  .mainContainer {
    padding: 3rem 1rem; } }

body {
  font-family: Roboto; }

.contactBox {
  display: flex;
  margin-bottom: 0.5rem; }
  .contactBox__imgContainer {
    width: 5rem;
    height: 5rem;
    border: 1px dotted #beb7a4;
    border-radius: 50%;
    margin-right: 1rem; }
  .contactBox__textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-style: normal;
    line-height: normal; }
    .contactBox__textContainer__mentor {
      margin-bottom: 0.125rem;
      color: #ff3f00;
      font-weight: bold;
      font-size: 1rem; }
    .contactBox__textContainer__name {
      margin-top: 0.125rem;
      font-weight: normal;
      color: #51504e;
      font-size: 0.8rem; }

.contentBox--meetup {
  background: #fafaf6;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  padding: 2rem; }
  .contentBox--meetup__section {
    margin-bottom: 3rem; }
    .contentBox--meetup__section__title {
      display: flex; }
      .contentBox--meetup__section__title__circle {
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(190, 183, 164, 0.3);
        margin-right: 0.5rem; }
      .contentBox--meetup__section__title__text {
        color: #51504e;
        margin-top: 0.25rem; }
    .contentBox--meetup__section__content {
      margin-left: 3.8rem; }
      .contentBox--meetup__section__content__lessonTime {
        width: 30%;
        height: 2.25rem;
        border: 1px solid rgba(255, 63, 0, 0.38);
        border-radius: 3px;
        display: flex;
        align-items: center;
        padding-left: 1rem;
        color: #beb7a4;
        margin-bottom: 0.5rem; }
      .contentBox--meetup__section__content__btnAddTime {
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 24px;
        text-align: center;
        color: #fffffc;
        background: #ff3f00;
        width: 140px;
        height: 35px;
        border-radius: 5px; }
      .contentBox--meetup__section__content__dropdown {
        height: 35px;
        border: 1px solid rgba(255, 63, 0, 0.38);
        border-radius: 5px;
        color: #51504e; }
        .contentBox--meetup__section__content__dropdown:focus {
          outline: none;
          box-shadow: 0px 0px 11px -2px #ff3f00; }
      .contentBox--meetup__section__content__textarea {
        border: 1px solid rgba(255, 63, 0, 0.38);
        border-radius: 5px; }
  .contentBox--meetup__submit {
    display: flex;
    justify-content: flex-end; }
    .contentBox--meetup__submit__btn {
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 24px;
      text-align: center;
      color: #fffffc;
      background: #ff3f00;
      width: 140px;
      height: 35px;
      border-radius: 5px;
      border: none; }
